/*
	[!] A WORD OF CAUTION [!]
	For boxes with only text (and where the width of the block should be defined by the textwidth):
	Please avoid making the width dynamic, because the textwidth changes after the webfont is loaded, and would cause blocks to shift under the container!
	So make sure to always specify a width for textareas and images in these boxes!
*/

.button{
	position:relative;
	display:inline-block;
	padding:1px 10px 0px 0px;
	cursor:pointer;
	/*-webkit-transition:padding 0.15s linear;
	-moz-transition:padding 0.15s linear;
	-o-transition:padding 0.15s linear;
	transition:padding 0.15s linear;*/
}

html.ie7 .button{ zoom:1; *display:inline; }

.button{
	color:#666;
}
.button a{
	color:inherit;
	text-decoration:none;
}
.button .text{
	font-family:aller_bold, arial, sans-serif;
	font-size:10px;
	line-height:12px;
	text-transform:uppercase;
	position:relative;
	z-index:1;
	letter-spacing:0.02em;
	-webkit-transition:color 0.15s linear;
	-moz-transition:color 0.15s linear;
	-o-transition:color 0.15s linear;
	transition:color 0.15s linear;
}
.button .background{		/*removed*/
	/*width:0%;
	height:100%;
	position:absolute;
	top:0; right:0;
	background-color:#FFF;
	-webkit-transition:width 0.15s linear;
	-moz-transition:width 0.15s linear;
	-o-transition:width 0.15s linear;
	transition:width 0.15s linear;*/
}


/* /////////////////////////////////////////////////////////////////////// CONTAINER */
#container{
	height:100%;
}
#container .centered{
	position:relative;
}
#container .centered .blocks{
	margin-left:80px;	/* =slice.s3 width */
}

	
/* ----------------------------------------- [BOX] */
.box{
	overflow:hidden;
	float:left;
	position:relative;
	background-color:#000;
	max-height:900px;		/* same value set in javascript */
}

/* mainImage */
.box .mainImage{
	overflow:hidden;
	position:relative;
	background-color:#111;
}
.box .mainImage > img.main{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}
.box .mainImage > img.loader{
	position:absolute;
	top:10px;
	left:30px;
}
.box .mainImage .cover{
	height:100%;
	width:100%;
	position:absolute; top:0; left:0;
	z-index:1;
}

/* textblock */
.box .textblock{
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	width:200px;
	padding-top:40px;
	padding-left:30px;
	cursor:default;
}
.box .textblock h4{
	margin-bottom:30px;
	min-height:12px;
}
.box .textblock .button{
	margin-top:20px;
}

/* more-button */
.box:hover .button.hover{		/*removed*/
	/*padding-left:9px;
	-webkit-transition-delay:0.1s;
	-moz-transition-delay:0.1s;
	-o-transition-delay:0.1s;
	transition-delay:0.1s;*/
}
.box:hover .button.hover .text{
	-webkit-transition-delay:0.1s;
	-moz-transition-delay:0.1s;
	-o-transition-delay:0.1s;
	transition-delay:0.1s;
}
.box:hover .button.hover .background{
	width:100%;
	-webkit-transition-delay:0.1s;
	-moz-transition-delay:0.1s;
	-o-transition-delay:0.1s;
	transition-delay:0.1s;
}

.button.hover_self:hover{ /*padding-left:9px;*/ }	/*removed*/
.button.hover_self:hover .text{ color:#FFF; }
.button.hover_self:hover .background{ width:100%; }


.box .textblock:hover .button .text{
	color:#FFF;
}

/*------------------------------------- [BOX] FILTER (work + yarubar) */
.box >.filter{
	width:260px;
	height:100%;
	background-color:#161616;
	position:relative;
	height:100%;
}

.box.workthumbs >.filter{ float:left; }	/* filter is inside of the workthumbs box */

.box >.filter .content{
	position:absolute;
	top:45%;
}
.box >.filter .content >ul{
	padding-left:25px;
	margin-top:34px;
}

.box a.mainLink{
	display:block;
	cursor:pointer;
	width:100%;
	height:100%;
}

.box >.filter .content >ul li a{
	display:inline-block;
	padding:4px 0;
	font-family:aller_bold, arial, sans-serif;
	font-size:11px;
	letter-spacing:0.1em;
	line-height:12px;
	text-transform:uppercase;
	color:#666;
	-webkit-transition:color 0.15s linear;
	-moz-transition:color 0.15s linear;
	-o-transition:color 0.15s linear;
	transition:color 0.15s linear;
}
html.ie7 .box >.filter .content >ul li a{ zoom:1; *display:inline; }

.box >.filter .content >ul li a:hover,
.box >.filter .content >ul li a.active{
	color:#FFF;
	text-decoration:none;
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	-o-transition-duration:0s;
	transition-duration:0s;
}


.box >.filter .content img.yarubar_logo{
	margin:28px 0 -5px 25px;
}

/* ----------------------------------------- [BOX] WIDE IMAGE */
.box.wideImage > a{
	display:block;
	position:absolute;
	z-index:2;
	width:100%;
	height:100%;
}

.box.wideImage .textblock{
	top:50%;
	width:90%;
}
.box.wideImage .textblock .content{
	position:relative;
	top:-87px;
}
.box.wideImage .textblock .content h1{
	color:#FFF;
	display:inline-block;
	position:relative;
	top:10px;
	margin-right:35px;
	margin-bottom:20px;
}

.box.wideImage .textblock .content h2{
	color:#FFF;
	display:inline-block;
}
.box.wideImage .textblock .content img.yarubar_logo{
	position:relative;
	top:23px;
	margin-right:20px;
}

.box.wideImage .textblock .content h1.black,
.box.wideImage .textblock .content h2.black{
	color:#000;
}
.box.wideImage .textblock .content h1.gray,
.box.wideImage .textblock .content h2.gray{
	color:#666;
}

html.ie7 .box.wideImage .textblock .content h1{
	line-height:1.15;
	zoom:1; *display:inline;
}
html.ie7 .box.wideImage .textblock .content h2{ zoom:1; *display:inline; }


/* ----------------------------------------- [BOX] FULLSCREEN VIDEO */
/* play button */
.box.fullscreenVideo .play{
	position:absolute;
	top:50%;
	left:50%;
	width:83px;
	height:83px;
	z-index:2;
	cursor:pointer;
}
.box.fullscreenVideo .play .holder{
	width:100%;
	height:100%;
	position:relative;
	left:-50%;
	top:-50%;
	z-index:10;
}
.box.fullscreenVideo .play .holder .image{
	background-image:url('../img/video_playbutton.png');
	background-repeat:no-repeat;		/* repeat-x, repeat-y */
	background-position:0px 0px;
	width:100%;
	height:100%;
	overflow:hidden;
}
.box.fullscreenVideo .play .holder .image:hover{
	background-position:0px -83px;
}

/* video */
.box.fullscreenVideo .video{
	position:absolute;
	top:0; left:0;
	z-index:1;
	width:100%;
	height:100%;
	display:none;
}

/* textblock */
.box.fullscreenVideo .textblock{
	width:380px;
	padding-top:0;
}
.box.fullscreenVideo .textblock .content{
	position:relative;
	top:-50%;
}
.box.fullscreenVideo .textblock .content h4,
.box.fullscreenVideo .textblock .content h2{
	color:#FFF;
}

.box.fullscreenVideo .textblock .content h4.black,
.box.fullscreenVideo .textblock .content h2.black{
	color:#000;
}
.box.fullscreenVideo .textblock .content h4.gray,
.box.fullscreenVideo .textblock .content h2.gray{
	color:#666;
}


/* ----------------------------------------- [BOX] IMAGETEXT */
.box.imageText .textblock h1,
.box.imageText .textblock h2{
	color:#FFF;
}
.box.imageText .textblock h1.black,
.box.imageText .textblock h2.black,
.box.imageText .textblock h4.black,
.box.imageText .textblock .button.black{
	color:#000;
}
.box.imageText .textblock h1.gray,
.box.imageText .textblock h2.gray,
.box.imageText .textblock h4.gray,
.box.imageText .textblock .button.gray{
	color:#666;
}

.box.imageText a{ display:block; }
.box.imageText a:hover{ text-decoration:none; }



/* ----------------------------------------- [BOX] DOUBLE BLOCK 1 */
.box.doubleBlock1{}
.box.doubleBlock1.top .mainImage{
	top:50%;
}
.box.doubleBlock1.bottom .textblock{
	top:50%;
}
.box.doubleBlock1 .textblock h2{
	color:#666;
}

/* video play button */
.box.doubleBlock1 .play{
	position:absolute;
	top:50%;
	left:50%;
	width:83px;
	height:83px;
	z-index:2;
	cursor:pointer;
}
.box.doubleBlock1 .play .holder{
	width:100%;
	height:100%;
	position:relative;
	left:-50%;
	top:-50%;
}
.box.doubleBlock1 .play .holder .image{
	background-image:url('../img/video_playbutton.png');
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:100%;
	height:100%;
	overflow:hidden;
}
.box.doubleBlock1 .play .holder .image:hover{
	background-position:0px -83px;
}
.box.doubleBlock1 .video{
	position:absolute;
	top:0; left:0;
	z-index:1;
	width:100%;
	height:100%;
	display:none;
}
.box.doubleBlock1 a{ display:block; }
.box.doubleBlock1 a:hover{ text-decoration:none; }


/* ----------------------------------------- [BOX] DOUBLE BLOCK 2 */
.box.doubleBlock2 .mainImage{
	position:relative;
}
.box.doubleBlock2 .mainImage img.main{
	position:absolute;
	top:0; left:100%;
	z-index:2;
}
.box.doubleBlock2 .mainImage img.main:first-child{ left:0; }

.box.doubleBlock2 .slideshow .move{
	-webkit-transition:left 0.4s ease-in-out;
	-moz-transition:left 0.4s ease-in-out;
	-o-transition:left 0.4s ease-in-out;
	transition:left 0.4s ease-in-out;
}

.box.doubleBlock2 .slideshow .prev,
.box.doubleBlock2 .slideshow .next{
	position:absolute;
	z-index:10;
	top:0;
	height:100%;
	padding:5px;
	cursor:pointer;
	background-image:url('../img/empty.png');
}
.box.doubleBlock2 .slideshow .prev{
	padding-right:20%;
	padding-left:10px;
	left:5px;
	-webkit-transition:left 0.2s ease-out;
	-moz-transition:left 0.2s ease-out;
	-o-transition:left 0.2s ease-out;
	transition:left 0.2s ease-out;
}
.box.doubleBlock2 .slideshow .next{
	padding-left:20%;
	padding-right:10px;
	right:5px;
	-webkit-transition:right 0.2s ease-out;
	-moz-transition:right 0.2s ease-out;
	-o-transition:right 0.2s ease-out;
	transition:right 0.2s ease-out;
}

.box.doubleBlock2 .slideshow .prev:hover{ left:-3px; }
.box.doubleBlock2 .slideshow .next:hover{ right:-3px; }

.box.doubleBlock2 .slideshow .prev .arrow,
.box.doubleBlock2 .slideshow .next .arrow{
	position:relative;
	top:50%;
}

.box.doubleBlock2 .slideshow .prev .arrow img,
.box.doubleBlock2 .slideshow .next .arrow img{
	position:relative;
	top:-15px;
}

.box.doubleBlock2 .textblock h4{ color:#666; }
.box.doubleBlock2 .textblock p.bodytext{ margin-top:20px; }

.box.doubleBlock2 .textblock .h2_a{ cursor:default; }		/*google link*/

/* vertical layout (image above text) */
.box.doubleBlock2.vertical .textblock{ width:460px; }
.box.doubleBlock2.vertical.top .mainImage{ top:50%; }
.box.doubleBlock2.vertical.bottom .textblock{ top:50%; }

/* horizontal layout (image next to text) */
.box.doubleBlock2.horizontal .textblock{
	position:static;
	float:left;
	width:280px;
	padding-right:60px;
	background-color:#161616;
	height:100%;
}
.box.doubleBlock2.horizontal .slideshow{ float:left; }

.box.doubleBlock2 .textblock.nocaption h2{
	position:relative;
	top:-4px;
}
.box.doubleBlock2 .textblock.nocaption p.bodytext{
	margin-top:25px;
}


/* video play button */
.box.doubleBlock2 .play{
	position:absolute;
	top:50%;
	left:50%;
	width:83px;
	height:83px;
	z-index:2;
	cursor:pointer;
}
.box.doubleBlock2 .slideshow .play .holder{
	width:100%;
	height:100%;
	position:relative;
	left:-50%;
	top:-50%;
}
.box.doubleBlock2 .slideshow .play .holder .image{
	background-image:url('../img/video_playbutton.png');
	background-repeat:no-repeat;		/* repeat-x, repeat-y */
	background-position:0px 0px;
	width:100%;
	height:100%;
	overflow:hidden;
}
.box.doubleBlock2 .slideshow .play .holder .image:hover{
	background-position:0px -83px;
}
.box.doubleBlock2 .video{
	position:absolute;
	top:0; left:0;
	z-index:1;
	width:100%;
	height:100%;
}


/* ----------------------------------------- [BOX] WORK-THUMBS */
.box.workthumbs .thumbs{
	background-color:#161616;
}
.box.workthumbs .thumbs .column{ float:left; }

.box.workthumbs .thumbs .column .item{
	z-index:1;
	position:relative;
	max-width:400px;
	max-height:300px;
}

.box.workthumbs .thumbs .column .item > a{
	display:block;
	position:absolute;
	z-index:2;
	width:100%;
	height:100%;
}

.box.workthumbs .thumbs .column .item .front, .box.workthumbs .thumbs .column .item .back{
	width:100%;
	height:100%;
	pointer-events:none;
}

.box.workthumbs .thumbs .column .item .front .mainImage .cover{	/* intro fade */
	background-color:#121212;
	opacity:0;
	-webkit-transition:opacity 0.15s ease-out;
	-moz-transition:opacity 0.15s ease-out;
	-o-transition:opacity 0.15s ease-out;
	transition:opacity 0.15s ease-out;
	width:100%;
	height:100%;
}

html.ie7 .box.workthumbs .thumbs .column .item .front .mainImage .cover,
html.ie8 .box.workthumbs .thumbs .column .item .front .mainImage .cover{
	filter:alpha(opacity=0);
}

.box.workthumbs .thumbs .column .item .back{
	-webkit-transition:opacity 0.15s ease-out;
	-moz-transition:opacity 0.15s ease-out;
	-o-transition:opacity 0.15s ease-out;
	transition:opacity 0.15s ease-out;
	
	position:absolute;
	opacity:0;
	top:0;
	left:0;
	background-color:#000;
}

.box.workthumbs .thumbs .column .item.active:hover{
	z-index:2;
}
.box.workthumbs .thumbs .column .item.active:hover .front{}
.box.workthumbs .thumbs .column .item.active:hover .back{
	opacity:1;
}

.box.workthumbs .thumbs .column .item.inactive .front .mainImage .cover{ opacity:0.98; }
.box.workthumbs .thumbs .column .item.inactive > a{ display:none; }

html.ie7 .box.workthumbs .thumbs .column .item.inactive .front .mainImage .cover,
html.ie8 .box.workthumbs .thumbs .column .item.inactive .front .mainImage .cover{
	filter:alpha(opacity=98);
}


/* back .content */
.box.workthumbs .thumbs .column .item .back .content{
	height:auto;
	position:absolute;
	bottom:0; top:0; left:0; right:0;
	margin-top:60px;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
	
	-webkit-transition:margin 0.3s ease-out;
	-moz-transition:margin 0.3s ease-out;
	-o-transition:margin 0.3s ease-out;
	transition:margin 0.3s ease-out;
}

.box.workthumbs .thumbs .column .item.active:hover .back .content{
	margin-top:40px;
	margin-bottom:40px;
}

.box.workthumbs .thumbs .column .item .back .content .categories{
	min-height:12px;
	margin-bottom:32px;
}
.box.workthumbs .thumbs .column .item .back .content .categories h4{
	color:#666;
}
.box.workthumbs .thumbs .column .item .back .content h3.title{
	text-transform:uppercase;
	margin-bottom:5px;
}
.box.workthumbs .thumbs .column .item .back .content .button{
	bottom:0;
	right:-5px;
	position:absolute;
}

/* FALLBACK: non css3-transform browsers */
.box.workthumbs.fallback .thumbs .column .item .back{
	display:none;
	opacity:0;
}
.box.workthumbs.fallback .thumbs .column .item.active:hover .back{
	display:block;
	opacity:1;
}


/*------------------------------------- WORK-THUMBS: RELATED PROJECTS TITLE */
.box.workthumbs .related{
	width:100px;
	height:100%;
	float:left;
	position:relative;
	background-color:#161616;
}
.box.workthumbs .related .content{
	padding:40px 30px 0 25px; 
}


/*------------------------------------- [BOX] WORK INFO */
.box.workinfo{
	cursor:default;
}

.box.workinfo .content{
	margin:40px 50px;
}

.box.workinfo .content .tags{
	color:#666;
	height:14px;
	margin-bottom:31px;
}
.box.workinfo .content .tags .pipe{
	width:1px;
	height:11px;
	background-color:#666;
	display:block;
	float:left;
	margin-right:10px;
}
.box.workinfo .content .tags h4{
	float:left;
	margin-right:10px;
}
.box.workinfo .content h3.title{
	text-transform:uppercase;
	margin-bottom:5px;
}
.box.workinfo .content h3{ height:16px; }

.box.workinfo .content .column{
	float:left;
	width:380px;
	margin-top:55px;
	margin-right:60px;
}

.box.workinfo .content .column.scope{ width:200px; }
.box.workinfo .content .column.comments{ width:260px; }

.box.workinfo .content .column h4{
	margin-bottom:20px;
}

/*.box.workinfo .content .column.scope p{
	font-family:aller_bold, arial, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	font-weight:normal;
}*/

.box.workinfo .content .column.comments p.bodytext{
	font-size:16px;
	line-height:21px;
}


/*------------------------------------- [BOX] CLIENT LIST */
.box.clientlist{
	cursor:default;
	background-color:#1E1E1E;
}

.box.clientlist .content{
	padding:40px 50px;
}

.box.clientlist .content .tags{
	color:#666;
	height:14px;
	margin-bottom:31px;
}

.box.clientlist .content h2{
	margin-top:30px;
	height:93px;
	color:#666;
}

.box.clientlist .content .columns .column{
	float:left;
	padding-right:40px;
	width:180px;
}

.box.clientlist .content .columns .column h4{
	font-family:aller_regular, arial, sans-serif;
	height:35px;
	color:#666;
	font-size:13px;
	line-height:14px;
}

.box.clientlist .content .columns .column.col2{		/* when items flow in 2 columns */
	margin-top:35px;
}


/*------------------------------------- [BOX] CONTACT INFO */
.box.contactinfo{
	cursor:default;
	background-color:#000;
}

.box.contactinfo .content{
	padding:40px 40px;
}
.box.contactinfo .content > h2{
	margin-top:30px;
	height:93px;
	color:#666;
	width:180px;
}

.box.contactinfo .content .item{
	margin-bottom:25px;
	width:430px;
}
.box.contactinfo .content .item:first-of-type{
	margin-bottom:45px;
}

.box.contactinfo .content .item .left{
	width:220px;
	float:left;
}
.box.contactinfo .content .item .left a.map{
	font-family:aller_bold, arial, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	color:#666;
}
.box.contactinfo .content .item .left a.map:hover{
	color:#FFF;
}
.box.contactinfo .content .item .right{
	width:150px;
	float:left;
	margin-top:40px;
	margin-left:30px;
}

.box.contactinfo .content .item .left h4{
	font-family:aller_regular, arial, sans-serif;
	height:35px;
	color:#666;
	font-size:13px;
}

.box.contactinfo .content a.link{ color:#666; }
.box.contactinfo .content a.link:hover{ color:#fff; text-decoration:none; }
.box.contactinfo .content a.link img{ position:relative; top:2px; margin-right:5px; }

/*--- clock ---*/
.box.contactinfo .content .clock{
	position:relative;
	top:-4px;
	width:68px;
	height:68px;
	display:none;
	opacity:0.5;
}
.box.contactinfo .content .clock >div{
	position:absolute;
	left:50%;
	top:50%;
	height:0;
}
.box.contactinfo .content .clock >div img{
	position:relative;
	height:28px;
	top:-30px;
} 
.box.contactinfo .content .clock >div.hour img{
	height:18px;
	top:-20px;
}
.box.contactinfo .content .clock .ampm{
	position:relative;
	top:10px;
	left:0px;
	width:100%;
	text-align:center;
	color:#CCC;
	font-family:aller_bold, arial, sans-serif;
	font-size:10px;
}

/*------------------------------------- [BOX] LOAD MORE */
.box.loadmore{
	background-color:#191919;
	width:130px;
	height:100%;
	-webkit-transition:background-color 0.15s ease-out;
	-moz-transition:background-color 0.15s ease-out;
	-o-transition:background-color 0.15s ease-out;
	transition:background-color 0.15s ease-out;
}
/*.box.loadmore:hover{
	background-color:#141414;
}*/

.box.loadmore a{
	width:100%;
	height:100%;
	display:block;
	cursor:pointer;
}

.box.loadmore a .content{
	width:100%;
	position:relative;
	top:50%;
}

.box.loadmore a .content .more_button{
	padding:0 30px;
	position:relative;
	top:-19px;
}

.box.loadmore a .content .more_button p{
	display:inline-block;
	font-family:aller_bold, arial, sans-serif;
	font-size:11px;
	text-transform:uppercase;
	color:#666;
	vertical-align:top;
	margin-top:12px;
	padding-left:8px;
	
	-webkit-transition:color 0.15s ease-out;
	-moz-transition:color 0.15s ease-out;
	-o-transition:color 0.15s ease-out;
	transition:color 0.15s ease-out;
}
.box.loadmore a:hover .content .more_button p{
	color:#FFF;
	text-decoration:none;
}

.box.loadmore a .content .more_button span.plus{
	background-image:url('../img/loadmore_button.png');
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:30px;
	height:30px;
	display:inline-block;
}
.box.loadmore a:hover .content .more_button span.plus{
	background-position:0px -30px;
}

.box.loadmore a .content .more_button span.loader{
	display:none;
	width:24px;
	height:24px;
	margin:3px;
	background-image:url('../img/loader.gif');
}

html.ie7 .box.loadmore a .content .more_button p{ zoom:1; *display:inline; }
html.ie7 .box.loadmore a .content .more_button span.plus{ zoom:1; *display:inline; }


/*------------------------------------- [BOX] WORK OVERVIEW */
.box.workoverview{
	background-color:#191919;
	width:180px;
	height:100%;
	-webkit-transition:background-color 0.15s ease-out;
	-moz-transition:background-color 0.15s ease-out;
	-o-transition:background-color 0.15s ease-out;
	transition:background-color 0.15s ease-out;
}

.box.workoverview a{
	width:100%;
	height:100%;
	display:block;
	cursor:pointer;
}

.box.workoverview a .content{
	width:100%;
	position:relative;
	top:50%;
}

.box.workoverview a .content .more_button{
	padding:0 30px;
	position:relative;
	top:-14px;
}
.box.workoverview a .content .more_button p{
	display:inline-block;
	font-family:aller_bold, arial, sans-serif;
	font-size:11px;
	text-transform:uppercase;
	color:#666;
	vertical-align:top;
	margin-top:9px;
	padding-left:8px;
	
	-webkit-transition:color 0.15s ease-out;
	-moz-transition:color 0.15s ease-out;
	-o-transition:color 0.15s ease-out;
	transition:color 0.15s ease-out;
}
.box.workoverview a:hover .content .more_button p{
	color:#FFF;
	text-decoration:none;
}

.box.workoverview a .content .more_button span.icon{
	background-image:url('../img/workoverview.png');
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:36px;
	height:27px;
	display:inline-block;
}
.box.workoverview a:hover .content .more_button span.icon{
	background-position:0px -27px;
}

html.ie7 .box.workoverview a .content .more_button p{ zoom:1; *display:inline; }
html.ie7 .box.workoverview a .content .more_button span.icon{ zoom:1; *display:inline; }


/*------------------------------------- [BOX] NEWSLETTER */
.box.newsletter{
	cursor:default;
	background-color:#121212;
}

.box.newsletter .content{
	padding:82px 85px 40px 30px;
	width:210px;
}
.box.newsletter .content h2{
	height:41px;
}

.box.newsletter .content form{
	margin-top:30px;
}
.box.newsletter .content form .field{
	margin-bottom:25px;
}
.box.newsletter .content form .field h4{
	color:#666;
	padding-bottom:4px;
}
.box.newsletter .content form .field input{
	width:100%;
	padding:5px;
	border:none;
	background-color:#232323;
	font-family:aller_regular, arial, sans-serif;
	color:#FFF;
	-webkit-transition:background-color 0.3s ease-out;
	-moz-transition:background-color 0.3s ease-out;
	-o-transition:background-color 0.3s ease-out;
	transition:background-color 0.3s ease-out;
}
.box.newsletter .content form .field input:hover,
.box.newsletter .content form .field input:focus{
	background-color:#282828;
}

.box.newsletter .content .form_step2{
	display:none;
}

.box.newsletter .content p.error{
	color:#CE0624;
	margin-top:10px;
}


/*------------------------------------- [BOX] CONTACT INFO */
.box.newsletter_unsubscribe,
.box.fourohfour{
	background-color:#161616;
}

.box.newsletter_unsubscribe .content,
.box.fourohfour .content{
	height:100%;
	width:250px;
	margin:35px 30px;
}
.box.newsletter_unsubscribe .content h2,
.box.fourohfour .content h2{
	height:50px;
	width:160px;
}
.box.newsletter_unsubscribe .content p,
.box.fourohfour .content p{
	color:#666;
}

/* 
This fix makes sure the last block fills the entire remaining width
was needed for the newsletter subscribe block on the contact page
Note: the last-child class is not implemented yet, so this stuff doesn't work on <= IE8
*/

.box.newsletter:last-child,
.box.newsletter.last-child {
	float:none;
}