@charset "utf-8";

img{border: none;}

.leftcurtain{width: 50%;height: 100%;top: 0px;left: 0px;position: absolute;z-index: 14; border-right: 4px solid #000;}

.rightcurtain{	width: 51%;	height: 100%;	right: 0px;	top: 0px;	position: absolute;	z-index: 13; border-left: 4px solid #000;
				box-shadow: 3px 3px 3px #000;}

.rightcurtain img, .leftcurtain img{	width: 100%;	height: 100%;}

.logo{	margin: 0px auto;	margin-top: 150px;}

.rope{	position: absolute;	top: -30px;	left: 90%;	z-index: 14;}

.leftcurtain, .rightcurtain {
		background: url(../../_img/_layout/bgwood.jpg) repeat;
	}

