@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,400italic);

body
{
    background: #3a8285 url("/images/header.jpg") no-repeat center center fixed;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title
{
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#date
{
    font-weight: 700;
    margin:40px 0 40px 0;
}

#timer
{
    margin-top: 40px;
    margin-bottom: 40px;
}

#timer span
{
    color: #fff!important;

}

body p
{
    font-size: 16px;
}

.canvas
{
    position: absolute;
    z-index: -1;
}

a, a:hover, a:active, a:visited
{ 
    color: white;
}

.container
{
    padding-top: 30px;
    z-index: 1;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 20px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 850px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/******************View Transition************/

.view-slide-in.ng-enter {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
   
  opacity:0.5;
  position:relative;
  opacity:0;
  top:10px;
  left:20px;
}

.view-slide-in.ng-enter {
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
  top:0;
  left:0;
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
  top:5px;
  left:5px;
  opacity:1;
}
.view-slide-in.ng-leave{
  top:0;
  left:0;
  opacity:0;
}

/********************CSS Menu*******************/


@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  width: auto;
  margin: 8px;
}

.center
{
    text-align: center;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Josefin Sans', 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #000;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #fff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #000;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}


/*********** slider contianers *******/
.content{
  height: 40px;
  overflow: hidden; 
  margin-top:30px;
  margin-bottom:30px;
}
.headings{
  text-align: center;
  position: relative;
  top: 30px;
}
h1{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 35px;
  color: #F9F9F9;
  margin-bottom: 5px; 
}
h1 span{
  color: #474747;
}

/* ANIMATIONS AND KEYFRAMES */
.headings{
   animation: cycle 5s infinite;	
  -webkit-animation: cycle 10s infinite;
  -moz-animation: cycle 10s infinite;
}
@keyframes cycle{
  0%{ top:4px; }
  15%{ top:4px; }
  20%{ top: -37px; }
  35%{ top:-37px;}
  40%{ top: -78px; }
  55%{ top:-78px;}
  60% {top:-118px;}
  75%{ top: -118px; }
  80%{ top: -159px; }
  95% { top: -159px; }
  100%{ top:-1px; }
}
@-webkit-keyframes cycle{
  0%{ top:-2px; }
  15%{ top:-2px; }
  20%{ top: -47px; }
  35%{ top:-47px;}
  40%{ top: -92px; }
  55%{ top:-92px;}
  60% {top:-135px;}
  75%{ top: -135px; }
  80%{ top: -180px; }
  95% { top: -180px; }
  100%{ top:-2px; }
}
@-moz-keyframes cycle{
  0%{ top:4px; }
  15%{ top:4px; }
  20%{ top: -37px; }
  35%{ top:-37px;}
  40%{ top: -78px; }
  55%{ top:-78px;}
  60% {top:-118px;}
  75%{ top: -118px; }
  80%{ top: -159px; }
  95% { top: -159px; }
  100%{ top:-1px; }
}

#about
{
    padding-left: 50px;
    padding-right: 50px;
}
#about p
{
    text-align: justify;
    font-size: 18px;
}
/*event*/

.containing{
  border-radius: 13px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top:60px; 
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  width: 700px;
  text-align: center;
  color: #fff;
  height:350px; 
  overflow-y: auto;
  z-index: 20;
}

@media only screen and (max-width:1022px) {
  .containing{
    width: 95%;
    height: auto;
    overflow-y:visible; 
    margin-top:10px; 
  }
  #frameimg{
    display: none;
  }
  #slide_image{
    display: none;
  }
  #back_button{
    margin-left: 20%;
  }
}

#second{
  display: none;
}

#third{
  text-align: left;
  font-size: 19px;
}

#frameimg{
  position: absolute;
  z-index: 15;
  height:75%;
  width: 80%;
  top: 15%;
  left: 10%;

}

#slide_image{
  position: absolute;
  background-image: url("/images/slide.png");
  float:right;
  opacity: 0.1;
  filter: alpha(opacity=10);
  z-index: 3;
  height:70%;
  width: 75%;
  top: 18%;
  left: 13%;
}

#slide_image img{
  z-index: 4;
}

#back_button{
  position: relative;
  height: 60px;
  left: -12%;
  margin-top: -10%;
  display: none;
  z-index: 35;
}

::-webkit-scrollbar {
    width: 3px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: grey; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: none; 
}
/* Track */
scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: grey; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
scrollbar-thumb:window-inactive {
  background: none; 
}

/*end event*/

