<div id="about"> 
    <h1>About</h1>
    <hr>
    <p>
    <strong>Resurgence</strong>, the Annual Cultural festival of <strong>Shri Mata Vaishno Devi University (SMVDU)           </strong>, is one of the most popular college fests in the northern India. Students and performers from across the country are       invited to be part of this fest & compete with one another at a common platform.
    </p>
    <p>
    This year the fest completes 7 years of success and we promise you a Resurgence bigger and better than ever before. The sky is       the limit as we turn SMVDU into a full fledged carnival brimming with energy, enthusiasm and fun. Watch your fantasies come to       life at RESURGENCE 2016.</p>
    <p>
    It is one of the largest platforms for college students across the country to come together to celebrate culture, fine arts and     social awareness. Resurgence is a place for the passionate, the sportive, the energetic and the enthusiastic to interact with       other like minded peers. Riding on the success of previous years Resurgence comes to you this year with a theme that manifests       <strong>MAGIC AND EXCITEMENT</strong>. We proudly invite you to experience the very spirit of festivity, unbridled energy and       passion at Resurgence'16.
    </p>
</div>