	<style>
         
 .feature{
     padding: 20px 0;
    text-align: center;
	 
 }
 .feature > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
 }
 .feature > div:hover > div{

    border: 1px solid rgb(128, 128, 128);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 5px;
    background: rgba(232, 215, 215, 0.10);
    transition: 0.3s;
 }
    .follow-us-container
    {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .social-icon
    {
        padding-top: 6px;
        font-size: 16px;
        text-align: center;
        width: 32px;
        height: 32px;
        border: 2px solid white;
        border-radius: 50%;
        color: white;
        margin: 5px;
    }

    a.social-icon:hover, a.social-icon:active, a.social-icon:focus
    {
        text-decoration: none;
        color: #434343;
        border-color: #434343;
    }
    #contact_section{
       
        width:800px;
        height:520px;
    }
    @media only screen and (max-width:1022px) {
          #contact_section{
            width: 100%; 
          }      
    }
     @media only screen and (max-width:800px) {
          #contact_section{
            width: 100%; 
          }      
    }
			
			.di
			{
				height: 100px;
				width: 150px;
				display: inline-block;
				
			}
			.dib
			{
				height: 100px;
				width: 180px;
				display: inline-block;
				
			}
			p{
				font-size: 12px;
				font-family: sans-serif;
			
			}
</style>







<div class="col-sm-12">
	<div>
    <center><h1>How to reach us</h1></center>
    <hr>
</div>
<div class="row">
<div class="col-sm-6"><p>Shri Mata Vaishno Devi University is situated 40 Km North of Jammu in the scenic surroundings of  Trikuta foothills, near the holy town of Katra in District -Reasi. The Campus is situated close to the beautiful tourist resort of Jhajjar - Kotli. One can reach SMVDU campus by local or private transport from Jammu.</p>
								<ul>
								
							<li><p id="bottom">Option 1:  Catch Taxi Directly from Ralway Station / Bus Stand / Airport directly to University Campus (Distance approximately 45 Kms.)</li></p>
								
<li><p id="bottom">Option 2:  Board bus from Jammu Bus Stand/Railyway Station  plying to Udhampur/Katra but alight at Domel (Approx. 39 Kms.).  Board Mini Bus fom Domel to University (Approx. 6 Kms.)
In the map given below SMVDU CAMPUS can be seen as the small black box.</li></p>
									</ul>
</div>
<div class="col-sm-6"><iframe src="https://www.google.com/maps/d/embed?mid=zNfj_dKxDWuU.k0roDanSsl-w&hl=en" width="350" height="380"></iframe></div>


</div>



</div>




<div>
    <center><h2>Or you may contact us</h2></center>
    <hr>
</div>
<div id="contact_section">
    
	
						
			
	
	
	

    
    
     <div class="row feature">
        
         <div class="dib">
            <div>
                <img src="images/varun.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h4><b>Dr. Varun Tripathi</b></h4>
                 Faculty Coordinator</p>
                
            </div>
        </div>
         
        
       <div class="dib">
            <div>
                <img src="images/yk.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Dr.Yugal Khajuria</b> 
                 Dean of student<br>
                </p>
                
            </div>
        </div>
		 
		 <div class="dib">
            <div>
                <img src="images/rk.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Dr. Rakesh kumar</b> 
                 Faculty Coordinator</p>
                
            </div>
        </div>
        
    </div>
    
    
    
    
    
    
      <div class="row feature">

      	<div class="dib">
            <div>
                <img src="images/nayan.jpeg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Nayan Tiwari</b><br>Cultural Secretary<br>9622257391
                 </p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/Nyan.tiwari?fref=ts" target="_blank"></a >
                                     
                                </div>
                
            </div>
        </div>
        <div class="dib">
            <div>
                <img src="images/gsec.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Bhupendra Singh</b><br>General Secretary <br>908624169
                 </p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/bhupendra.smvdu?fref=ts" target="_blank"></a >
                                    
                                </div>
                
            </div>
        </div>
        
         <div class="dib">
            <div>
                <img src="images/akshay.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Akshay Sharma</b><br>Cultural Coordinator <br>9906200258
                 </p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/akshay.sudan?fref=ts" target="_blank"></a >
                                    
                                </div>
                
            </div>
        </div>
		  <div class="dib">
            <div>
                <img src="images/himanshu.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
               <p><b>Himanshu Garg</b><br>Help Desk<br>9086120433</p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/kmanshu2?fref=ts" target="_blank"></a >
                                  
                                </div>
                
            </div>
        </div>
		  
       	  
		  
    
   </div>


	<div class="row feature">
		<div class="dib">
            <div>
                <img src="images/arvind.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
               <p><b>Arvind Jha</b><br>Help Desk<br>0705110996</p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/aj.007.18" target="_blank"></a >
                                       
                                </div>
                
            </div>
        </div>
		<div class="dib">
            <div>
                <img src="images/abhi.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
               <p><b>Abhishek kumar</b><br>Help Desk<br>8493894408</p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/vibrantabhi?fref=ts" target="_blank"></a >
                                      
                                </div>
                
            </div>
        </div>
		
		<div class="dib">
            <div>
                <img src="images/sahil.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
               <p><b>Sahil Pandita</b><br>Help Desk<br>0705110996</p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/sahil.pandita.106?fref=ts" target="_blank"></a >
                                      
                                </div>
                
            </div>
        </div>
         
		
		
		<div class="dib">
            <div>
                <img src="images/parbhat.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
               <p><b>Parbhat Puri</b><br>Web Developer<br>9797521857</p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/parbhat.puri?fref=ts" target="_blank"></a >
                                       
                                </div>
                
            </div>
        </div>
</div>
<div class="row feature">

	<div class="dib">
            <div>
                <img src="images/ss.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Sumit Srivastava</b><br> Web Developer<br>7298242713</p>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/sumit.srivastava.12914?fref=ts" target="_blank"></a >
                                      
                                </div>
                
            </div>
        </div>

	<div class="dib">
            <div>
                <img src="images/st.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Shyam Tayal</b><br> Web Developer<br>7298245479</p>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/Sam007tayal?fref=ts" target="_blank"></a >
                                       
                                </div>
                
            </div>
        </div>
		
	<div class="dib">
            <div>
                <img src="images/nilay.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Nilay Jayswal</b><br> Web Developer<br>8493894633</p>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/nilayjayswal1101?fref=ts" target="_blank"></a >
                                      
                                </div>
                
            </div>
        </div>


	</div>

    
    
    
    
		
		
		
		
    
            


 
