<div>
    <center><h1>Team Resurgence</h1></center>
</div>
<div style='overflow-x:hidden; float:left; width:800px;height:500px;'>
<!-- Feature List - START -->

    <div class="row feature">
        <div class="col-md-3">
            <div>
                <img src="images/parbhat.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h4><b>Parbhat puri</b></h4> 
                 <h5>Web developer</h5>
                <h5>7298242713</h5>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        <a class="fa fa-twitter social-icon" href="#" target="_blank"></a>
                                        
                                        <a class="fa fa-google-plus social-icon" href="#" target="_blank"></a>
                                
                            </div>
                
            </div>
        </div>

     <div class="col-md-3">
            <div>
                <img src="images/tirth.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h4><b>Tirth bal</b></h4> 
                 <h5>Web developer</h5>
                <h5>7298242713</h5>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        <a class="fa fa-twitter social-icon" href="#" target="_blank"></a>
                                        
                                        <a class="fa fa-google-plus social-icon" href="#" target="_blank"></a>
                                
                            </div>
                
            </div>
        </div>
        
        <div class="col-md-3">
            <div>
                <img src="images/sumit.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h4><b>Sumit srivastava</b></h4> 
                 <h5>Web developer</h5>
                <h5>7298242713</h5>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        <a class="fa fa-twitter social-icon" href="#" target="_blank"></a>
                                       
                                        <a class="fa fa-google-plus social-icon" href="#" target="_blank"></a>
                                
                            </div>
                
            </div>
        </div>
        
        
      <div class="col-md-3">
            <div>
                <img src="images/aman.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h4><b>Amandeep gupta</b></h4> 
                 <h5>Web developer</h5>
                <h5>7298242713</h5>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        <a class="fa fa-twitter social-icon" href="#" target="_blank"></a>
                                        
                                        <a class="fa fa-google-plus social-icon" href="#" target="_blank"></a>
                                
                            </div>
                
            </div>
        </div>
        
        <br>
        
    </div>
            
<br>

 <div class="row feature">
        <div class="col-md-3">
            <div>
                <img src="images/parbhat.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h4><b>Parbhat puri</b></h4> 
                 <h5>Web developer</h5>
                <h5>7298242713</h5>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        <a class="fa fa-twitter social-icon" href="#" target="_blank"></a>
                                        
                                        <a class="fa fa-google-plus social-icon" href="#" target="_blank"></a>
                                
                            </div>
                
            </div>
        </div>

     <div class="col-md-3">
            <div>
                <img src="images/tirth.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h4><b>Tirth bal</b></h4> 
            
                <h5>7298242713</h5>
                <h5>Web developer</h5>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        <a class="fa fa-twitter social-icon" href="#" target="_blank"></a>
                                        
                                        <a class="fa fa-google-plus social-icon" href="#" target="_blank"></a>
                                
                            </div>
                
            </div>
        </div>
        
        <div class="col-md-3">
            <div>
                <img src="images/sumit.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h4><b>Sumit srivastava</b></h4> 
                 <h5>Web developer</h5>
                <h5>7298242713</h5>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        <a class="fa fa-twitter social-icon" href="#" target="_blank"></a>
                                       
                                        <a class="fa fa-google-plus social-icon" href="#" target="_blank"></a>
                                
                            </div>
                
            </div>
        </div>
        
        
      <div class="col-md-3">
            <div>
                <img src="images/aman.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h4><b>Amandeep gupta</b></h4> 
                 <h5>Web developer</h5>
                <h5>7298242713</h5>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        <a class="fa fa-twitter social-icon" href="#" target="_blank"></a>
                                       
                                        <a class="fa fa-google-plus social-icon" href="#" target="_blank"></a>
                                
                            </div>
                
            </div>
        </div>
        
    </div>
        
    </div>
<style>
 #cnt1 {            
    
     width:100%;
     margin-bottom:70px;
 }
  
 .feature{
     padding: 20px 0;
    text-align: center;
 }
 .feature > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
 }
 .feature > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(128, 128, 128);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 5px;
    background: rgba(232, 215, 215, 0.10);
    transition: 0.3s;
 }
</style>
<style>
    .follow-us-container
    {
        margin-top: 50px;
        margin-bottom: 50px;
    }

   

    .social-icon
    {
        padding-top: 6px;
        font-size: 16px;
        text-align: center;
        width: 32px;
        height: 32px;
        border: 2px solid white;
        border-radius: 50%;
        color: white;
        margin: 5px;
    }

    a.social-icon:hover, a.social-icon:active, a.social-icon:focus
    {
        text-decoration: none;
        color: #434343;
        border-color: #434343;
    }
</style>
<!-- Feature List - END -->
