<div id="frame_section">
<img src="images/frame.png" id="frameimg">

<marquee id="slide_image" behavior="scroll" scrolldelay="0" scrollamount="2" >
  <img src="images/slide.jpg">
</marquee>

<div class="bs-docs-section" id="whole_event">
<!--  <h1 id="examples" class="page-header">Resergence Events</h1>
  <h3 id="examples-framework">Further Description</h3>
-->
<div class="containing">
  <div id="first">
  <div class="row bs-examples">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <a class="thumbnail" >
        <img src="images/50.jpg" alt="Inter House" onclick="first_enter('inter')">
      </a>
      <h4>Inter House</h4>
     <!-- <p>Can add desription here.</p>-->
    </div>
    <div class="col-xs-12  col-sm-6 col-md-6">
      <a class="thumbnail" >
        <img src="images/01.jpg" alt="Inter University" onclick="first_enter('intra')">
      </a>
      <h4>Inter University</h4>
 
    </div>
  </div>
</div>
<div id="second">
  <div class="row bs-examples">
    <div class="col-xs-12 col-sm-4 col-md-4" onclick="type('literary');display_default_uni('Debate');display_default('Debate-Hindi (Single)');">
      <a class="thumbnail" >
        <img src="images/literary.jpg" alt="Literary">
      </a>
      <h4>Literary</h4>

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4" onclick="type('music');display_default_uni('War of Bands');display_default('Dreamovation');">
      <a class="thumbnail">
        <img src="images/music.jpg" alt="Music">
      </a>
      <h4>Music</h4>

    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-12  col-sm-4 col-md-4" onclick="type('art');display_default_uni('Poster Making');display_default('Comic Strip(Single)');">
      <a class="thumbnail">
        <img src="images/art.jpg" alt="Fine Art">
      </a>
      <h4>Fine Art</h4>

    </div>
  </div>
      <div class="row bs-examples">
    <div class="col-xs-12 col-sm-4 col-md-4" onclick="type('theature');display_default_uni('Skit');display_default('Street Play');">
      <a class="thumbnail" >
        <img src="images/theature.jpg" alt="Theature">
      </a>
      <h4>Theatre</h4>

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4" onclick="type('dance');display_default_uni('Desi Beat.');display_default('Duet');">
      <a class="thumbnail">
        <img src="images/dance.jpeg" alt="Dance">
      </a>
      <h4>Dance</h4>

    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-12  col-sm-4 col-md-4" onclick="type('photo');display_default_uni('Short Film Making');display_default('SMVDU Cover Shot');">
      <a class="thumbnail">
        <img src="images/photo.jpg" alt="Photo Video Graphy">
      </a>
      <h4>Photo Video Graphy</h4>

    </div>
  </div>
      <div class="row bs-examples">
    <div class="col-xs-12  col-sm-4 col-md-4">
    </div>
    <div class="col-xs-12  col-sm-4 col-md-4" onclick="type('special');display_default_uni('Fashion Show');display_default('On the Spot Hidden Talent');">
      <a class="thumbnail">
        <img src="images/special.jpg" alt="Special Event">
      </a>
      <h4>Special Event</h4>

    </div>
  </div>
  <img src="images/Back.png" id="back_button" onclick="back_operation()">
</div>

<div id="third">
  <div>
  <div id="event_list"></div>
  <div id="event_description">Event Description</div>
  <br/>
  </div>
  <img src='images/Back.png' id='back_button1' style='top:7%;'onclick='back_operation()'>
</div>

</div>

</div>
</div>
<input type="hidden" id="selection" value="inter">
<input type="hidden" id="selection2" value="none">
<input type="hidden" id="event_selection" value="none"> 