<input type="hidden" value="unused" id="galleyuse"> 
<div>
    <center><h1>Gallery</h1></center>
</div> 
<div id="gallery">   
         <div class="row">

                 <div class="col-md-3">

                     <a class="example-image-link" href="images/01.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/01.jpg" /></a>

                </div>
                <div class="col-md-3">

                     <a class="example-image-link" href="images/02.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/02.jpg" /></a>

                </div>
                <div class="col-md-3">

                     <a class="example-image-link" href="images/03.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/03.jpg" /></a>

                </div>


            <div class="col-md-3">

                     <a class="example-image-link" href="images/04.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/04.jpg" /></a>

                </div>
            </div>



     <div class="row">

                 <div class="col-md-3">

                     <a class="example-image-link" href="images/11.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/11.jpg" /></a>

                </div>
                <div class="col-md-3">

                     <a class="example-image-link" href="images/12.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/12.jpg" /></a>

                </div>
                <div class="col-md-3">

                     <a class="example-image-link" href="images/13.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/13.jpg" /></a>

                </div>


            <div class="col-md-3">

                     <a class="example-image-link" href="images/14.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/14.jpg" /></a>

                </div>
            </div>

             <div class="row">

                 <div class="col-md-3">

                     <a class="example-image-link" href="images/05.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/05.jpg" /></a>

                </div>
                <div class="col-md-3">

                     <a class="example-image-link" href="images/06.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/06.jpg" /></a>

                </div>
                <div class="col-md-3">

                     <a class="example-image-link" href="images/07.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/07.jpg" /></a>

                </div>


            <div class="col-md-3">

                     <a class="example-image-link" href="images/08.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/08.jpg" /></a>

                </div>
            </div>


             <div class="row">

                 <div class="col-md-3">

                     <a class="example-image-link" href="images/09.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/09.jpg" /></a>

                </div>
                <div class="col-md-3">

                     <a class="example-image-link" href="images/10.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/10.jpg" /></a>

                </div>
                <div class="col-md-3">

                     <a class="example-image-link" href="images/15.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/15.jpg" /></a>

                </div>
                <div class="col-md-3">
                     <a class="example-image-link" href="images/16.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."> <img class="thumbnail img-responsive" alt="images" src="images/16.JPG" /></a>

                </div>
                 
            </div>

    </div>
<style>
#carousel1 .nav a small {
    display: block;
}
#carousel1 .nav {
    background: #eee;
}
.nav-justified > li > a {
    border-radius: 0px;
}
.nav-pills > li[data-slide-to="0"].active a {
    background-color: #b4d9a7;
}
.nav-pills > li[data-slide-to="1"].active a {
    background-color: #4f77cb;
}
.nav-pills > li[data-slide-to="2"].active a {
    background-color: #d11e4f;
}
</style>
<script type="text/javascript">
    jQuery(function ($) {
        $('#carousel1').carousel({
            interval: 2000
        });

        var clickEvent = false;

        $('#carousel1').on('click', '.nav a', function () {
            clickEvent = true;
            $('.nav li').removeClass('active');
            $(this).parent().addClass('active');
        }).on('slid.bs.carousel', function (e) {
            if (!clickEvent) {
                var count = $('.nav').children().length - 1;
                var current = $('.nav li.active');
                current.removeClass('active').next().addClass('active');
                var id = parseInt(current.data('slide-to'));
                if (count == id) {
                    $('.nav li').first().addClass('active');
                }
            }
            clickEvent = false;
        });
    });
</script>
<script src="scripts/js/lightbox.js"></script>
<script>
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-2196019-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
<style>
body:after {
  content: url(images/img/close.png) url(images/img/loading.gif) url(images/img/prev.png) url(images/img/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(images/img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(images/img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(images/img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#gallery{
  overflow-x:hidden; 
  margin-right:auto;
  margin-left:auto; 
  width:850px;
  height:480px;
  padding:20px;
  background-image: url(images/10.jpg);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0.3))), url("images/10.jpg") repeat 0 0;
  background: -moz-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0.3))), url("images/10.jpg") repeat 0 0; 
  border-radius:15px;
}

@media only screen and (max-width:1022px) {
  #gallery{
    width:80%;height:480px;
  }
}
</style>