<center>


<marquee direction="left" ><h4>Topic for Inter-University Debate is "Indian Media, as Fourth Pillar of Democracy, is not discharging its duties  (  भारतीय    मीडिया    लोकतंत्र   के   चौथे   स्तम्भ  के   रूप  में  अपने  कर्तव्यों  का  निर्वाह  नहीं  कर  रही  है)"</h4></marquee>

    <div class="row">
        <div class="col-md-12">
          <h2>Shri Mata Vaishno Devi University</h2>
          <h1 class="title">Resurgence 2016</h1>
          <h2 id="date"><span class="fa fa-calendar"></span> 11<sup>th</sup> - 13<sup>th</sup> March<br><br>
          <span class="fa fa-download"></span><a href="../SCHEDULE.pdf" target="_blank"> Schedule </a> <br/><span class="fa fa-download"></span><a href ="../inter.docx"> Inter University Form with Events and Rules </a></h2> 
          <br>
          <div id="timer">
            <h1><span class="fa fa-clock-o"></span> <timer end-time="1457634600000">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></h1>
          </div>
          <div class="heading-scroll">

          </div>

			<div class= "schedule">
		<p></p>
</div>
        </div>






    </div>

</center>

    <div class="row">
        <div class="col-md-12">
            <a class="fa fa-facebook social-icon" href="https://www.facebook.com/resurgence.SMVDUniversity" target="_blank"></a >
            <a class="fa fa-youtube-play social-icon" href="https://www.youtube.com/user/smvduweb" target="_blank"></a >
            <a class="fa fa-twitter social-icon" href="https://twitter.com/smvdu_web" target="_blank"></a >
            <a class="fa fa-github social-icon" href="https://github.com/smvdu/Resurgence-website" target="_blank"></a >
        </div>
    </div>
