<center>
    <div class="row">
        <div class="col-md-12">
          <h2>Shri Mata Vaishno Devi University</h2>
          <h1 class="title">Resurgence 2k15</h1>
          <h2 id="date"><span class="fa fa-calendar"></span> 3<sup>rd</sup> - 5<sup>th</sup> April</h2>
          <h1>Cultural <span>And</span> Sports Festival</h1>
          <div id="timer">
            <h1><span class="fa fa-clock-o"></span> <timer end-time="1428019200000">{{days}} days, {{hours}} hours,                     {{minutes}} minutes, {{seconds}} seconds.</timer></h1>
          </div>
          <div class="heading-scroll">
            <div class="content">
              <div class="headings">
                <h1>[Street <span>Dance</span>]</h1>
                <h1>[Poetry]</h1>
                <h1>[Youth <span>Parliament</span>]</h1>
                <h1>[Folk <span>Singing</span>]</h1>
                <h1>[<span>painting</span>]</h1>
              </div>
            </div>
          </div>
        </div>
    </div>

</center>

    <div class="row">
        <div class="col-md-12">
            <a class="fa fa-facebook social-icon" href="https://www.facebook.com/resurgence.SMVDUniversity" target="_blank"></a >
            <a class="fa fa-youtube-play social-icon" href="https://www.youtube.com/user/smvduweb" target="_blank"></a >
            <a class="fa fa-twitter social-icon" href="https://twitter.com/smvdu_web" target="_blank"></a >
            <a class="fa fa-github social-icon" href="https://github.com/smvdu/Resurgence-website" target="_blank"></a >
        </div>
    </div>
