<center>
    <div class="row">
        <div class="col-md-12">
          <h2>Shri Mata Vaishno Devi University</h2>
          <h1 class="title">Resurgence 2k15</h1>
          <h2 id="date"><span class="glyphicon glyphicon-calendar"></span> 3<sup>rd</sup> - 5<sup>th</sup> April</h2>
          <h1>Cultural <span>And</span> Sports Festival</h1>
          <div id="timer">
            <h1><span class="glyphicon glyphicon-time"></span> <timer end-time="1428019200000">{{days}} days, {{hours}} hours,                     {{minutes}} minutes, {{seconds}} seconds.</timer></h1>
          </div>
          <div class="heading-scroll">
            <div class="content">
              <div class="headings">
                <h1>[Street <span>Dance</span>]</h1>
                <h1>[Poetry]</h1>
                <h1>[Youth <span>Parliament</span>]</h1>
                <h1>[Folk <span>Singing</span>]</h1>
                <h1>[<span>painting</span>]</h1>
              </div>
            </div>
          </div>
        </div>
    </div>
</center>