<section id="first_entry">
  <div id="first_form">
  <form id="first_page">
    Resurgence Registration<hr id="hr_reg">
    <table id="table_reg">
     <tr><div><td id="text_inside">Name:</td><td><input type="text" placeholder="Full Name" name="full_name"></td></div></tr> 
     <tr><div><td id="text_inside">College:</td><td><input type="text" placeholder="College" name="college"></td></div></tr>
     <tr><div><td id="text_inside">Email:</td><td><input type="text" placeholder="example@domain.com" name="email"></td></div> </tr>
     <tr><div><td id="text_inside">Mobile No.:</td><td><input type="text" placeholder="9797504758" name="phone_no"></td></div> </tr>
     <tr><div><td><center><input type="reset" value="Reset" ></center></td><td><center><input type="button" value="Register" onclick="submit_fun()"></center></td></div></tr>
     <tr><td colspan="2" id="f_warning"></td></tr>
    </table>
  </form>
  </div>
</section>
<script type="text/javascript" src="/scripts/reg.js"></script>
<style>
td input[type=button]{    
width: 100px;
background-color: Transparent;
font-weight: bold;
color: white;
border-radius: 1px;
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px;
margin-top: 25px;
    margin-left: 85px;
}

#hr_reg{
    width: 70%;
}
    
td input[type=text]{
    width: 100%;
    color: black;
}
 #text_inside{
    text-align: left;
 }
    
#first_form{  
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 23px;
  top: 20%;
}

#table_reg{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
    
#first_form td{
  font-size: 18px;
  padding-left: 25px;  
}

#first_form input{
  font-size: 18px; 
}

    #first_entry{
        
    }

#first_form td input[type=reset]{
    width: 100px;
background-color: Transparent;
font-weight: bold;
color: white;
border-radius: 3px;
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px;
margin-top: 25px;
}

#first_form td input[type=file]{
  font-size: 15px;
}


#first_form td select{
  font-size: 15px; 
}

</style>