<h1> Sponsors</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <h3></h3>
        <a href="http://www.jammulinks.com/" target="_blank"><img src="../images/sponsors/jl.jpg" width="150" height="150"></a>
    </div>
    <div class="col-md-4">
        <h3></h3>
        <img src="../images/sponsors/jk.jpg">
    </div>
	<div class="col-md-4">
        <h3></h3>
        <img src="../images/sponsors/janta.png">
    </div>
</div>
<br>
<hr>
<div class="row">
    <div class="col-md-4">
        <img src="../images/sponsors/dominos.png">
    </div>
    <div class="col-md-4">
        <img src="../images/sponsors/amr.jpg">
    </div>
    <div class="col-md-4">
        <img src="../images/sponsors/bigfm.jpg">
    </div>
</div>
<br>
<hr>
<div class="row">
    <div class="col-md-4">
        <img src="../images/sponsors/fun.png">
    </div>
    <div class="col-md-4">
        <img src="../images/sponsors/gulistan.jpg">
    </div>
    <div class="col-md-4">
        <img src="../images/sponsors/krishna.jpg">
    </div>
</div>
<br>
<hr>

<div class="row">
    <div class="col-md-4">
        <img src="../images/sponsors/u4u.jpg">
    </div>
    <div class="col-md-6">
        <img src="../images/sponsors/nhpc.png">
    </div>
   
</div>
